@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RedHat';
  font-weight: 400;
  src: url(./../../public/assets/fonts/static/RedHatText-Regular.ttf);
}
@font-face {
  font-family: 'RedHat';
  font-weight: 600;
  src: url(./../../public/assets/fonts/static/RedHatText-SemiBold.ttf);
}
@font-face {
  font-family: 'RedHat';
  font-weight: 700;
  src: url(./../../public/assets/fonts/static/RedHatText-Bold.ttf);
}